{% extends "base.html.twig" %}
{% block title %}Labaratory Notes - Mail Box{% endblock %}
{% block stylesheets %}
    <style>
        hr.message-inner-separator
        {
            clear: both;
            margin-top: 10px;
            margin-bottom: 13px;
            border: 0;
            height: 1px;
            background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
            background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
            background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
            background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
        }
    </style>
{% endblock %}


{% block body %}
    <div class="row">
        <div class="col-sm-12">
            <h2>Mail Box</h2>


            {% for message in messages %}


                <div class="col-sm-6 col-md-6">
                    <div class="alert alert-info">
                        <a href="{{ path('glasgow_messages_hide', {id: message.id}) }}" class="close" data-dismiss="alert" aria-hidden="true">×</a>
                        <span class="glyphicon glyphicon-info-sign"></span> <strong>Info Message</strong>
                        <hr class="message-inner-separator">
                        <p>{{ message.message }}</p>
                    </div>
                </div>
            {% endfor %}

        </div>

    </div>
{% endblock %}