{% extends "base.html.twig" %}
{% block body %}
    <div class="row">
        <div class="col-md-3">
            {% if user.attachment is not empty %}
                <img src="/web/uploads/users/{{ user.attachment }}" style="width: 100%;" alt="{{ user.username }}" class="img-responsive" />
            {% else%}
                <img src="/web/images/non-exist.jpg" style="width: 100%;" alt="n/a" class="img-responsive" />
            {% endif %}
            <h1>Info</h1>
            <ul>
                <li>username: {{ user.username|capitalize }}</li>

                <li>email: {{ user.email }}</li>

            </ul>

        </div>
        <div class="col-md-9">
            {% if success == 1 %}
                <div class="alert alert-success" role="alert">Profile was updated!</div>
            {% endif %}
            {{ form(form) }}
        </div>

    </div>
{% endblock %}