{% extends "base.html.twig" %}

{% block googleCharts %}
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
        google.load("visualization", "1", {packages: ["corechart"]});
        google.setOnLoadCallback(drawChart);
        function drawChart() {
            var data = google.visualization.arrayToDataTable([
                ['Month', 'Notes'],{% for key,value in stats %}
                ['{{ key }}', {{ value }}],{% endfor %}
            ]);
            var options = {
                title: '{{ profile.username|capitalize }} activity for this year',
                hAxis: {title: 'Month', titleTextStyle: {color: '#333'}},
                vAxis: {minValue: 0}
            };

            var chart = new google.visualization.AreaChart(document.getElementById('chart_div'));
            chart.draw(data, options);
        }
    </script>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-3">
            {% if profile.attachment is not empty %}
                <img src="/web/uploads/users/{{ profile.attachment }}" style="width: 100%;" alt="{{ profile.username|capitalize }}" class="img-responsive" />
            {% else%}
                <img src="/web/images/non-exist.jpg" style="width: 100%;" alt="n/a" class="img-responsive" />
            {% endif %}
            <h1>{{ profile.username|capitalize }}</h1>
            <ul>
                <li>{{ profile.email }}</li>
                <li>Notes: {{ totalNotes }}</li>
            </ul>
        </div>
        <div class="col-md-9">
            <div class="row">
                <a href="{{ path('glasgow_notes_search') }}?search={{ profile.username }}" class="btn btn-primary pull-right" style="margin-left: 5px;">View all user notes</a> 
                {% if edit == 1 %}
                    <a href="{{ path('glasgow_notes_profile_edit') }}" class="btn btn-primary pull-right">Edit profile</a>    
                {% endif %}
            </div>



            <div class="row">
                <div class="col-sm-6">
                    <h2>Newest notes</h2>
                    {% for latestViewedNote in latestViewed %}
                        <p><a href="{{ path('glasgow_notes_view_note', {'id' : latestViewedNote.id}) }}">#{{ latestViewedNote.id }}
                                {{ latestViewedNote.title|e }}</a> - {{ latestViewedNote.createdAt|date("Y-m-d H:i:s") }}</p>
                            {% endfor %}
                </div>
                <div class="col-sm-6">
                    <h2>Most viewed notes</h2>
                    {% for mostViewedNote in mostViewed %}
                        <p><a href="{{ path('glasgow_notes_view_note', {'id' : mostViewedNote.id}) }}">#{{ mostViewedNote.id }}
                                {{ mostViewedNote.title|e }}</a> - {{ mostViewedNote.createdAt|date("Y-m-d H:i:s") }}</p>
                            {% endfor %}
                </div>
            </div>
            {% if stats is not null %}
                <div class="row">
                    <div class="col-md-12">
                        <div id="chart_div" style="width: 900px; height: 500px;"></div>
                    </div>
                </div>
            {% endif %}
        </div>

    </div>
{% endblock %}