{% extends "base.html.twig" %}
{% block body %}
    <div class="row">
        <h2>Latest notes</h2>
        <div class="col-md-12">
            {% for note in latestNotesFull %}
                <div class="row">
                    <div class="col-sm-10">

                        <div class="index-links">
                            <p>#{{ note.id }} - 
                                <a href="{{ path('glasgow_notes_view_note', {'id' : note.id}) }}" 
                                   title="{{ note.title }}"> {{ note.title|capitalize }}</a> 
                            </p>

                        </div>
                        <div id="popper-content" class="hide">Content goes here</div>
                    </div>
                    
                    <div class="col-sm-2">
                        <div class="index-ago">{{ note.createdAt|date("Y-m-d") }}</div>
                    </div>
                </div>
            {% endfor %}

        </div>

    </div>
{% endblock %}