<nav class="navbar navbar-default" role="navigation">
    <div class="container containers">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('glasgow_notes_homepage') }}"><img src="{{ asset('web/images/UniofGlasgowLogo.jpg') }}" class="img-resonsive" style="max-height: 30px" /></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <li  class="active"><a href="{{ path('glasgow_notes_homepage') }}" title="dashboard">Dashboard</a></li>
                    <li class=""><a href="{{ path('glasgow_notes_new_note') }}" title="add note">Add Note</a></li>
                    <li><a href="{{ path('glasgow_notes_browse') }}" title="browse">Browse</a></li>
                    <li><a href="{{ path('glasgow_notes_statistics') }}" title="statistics">Statistics</a></li>
                    {% endif %}
            </ul>


            <ul class="nav navbar-nav navbar-right">
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ app.user.username|capitalize }} <span class="badge">{{ messages }}</span> <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="{{ path('glasgow_notes_profile', {'name': app.user.username }) }}">View Profile</a></li>
                            <li><a href="{{ path('glasgow_notes_profile_edit') }}">Edit Profile</a></li>
                            <li><a href="{{ path('glasgow_messages') }}">Messages ({{ messages }})</a></li>
                            <li><a href="{{ path('glasgow_notes_search') }}?search={{ app.user.username }}">My Notes</a></li>
                            <li class="divider"></li>
                            <li><a href="{{ path('fos_user_security_logout') }}">Logout</a></li>
                        </ul>
                    </li>

                {% else %}
                    <li><a href="{{ path('fos_user_security_login') }}">Login</a></li>
                    {% endif %}

            </ul>

            <form class="navbar-form navbar-right" action="{{ path('glasgow_notes_search') }}" method="get" role="search">
                <div class="form-group">
                    
                    <div class="input-group">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="submit" name="_search" id="_search"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                        </span>
                        <input type="text" name="search" class="form-control" placeholder="#ID or Search" style="max-height: 34px" />
                    </div><!-- /input-group -->
                </div>
            </form>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>