#cent {
  position:absolute;
  top:50%;
  left:50%;
  margin-top:-100px; /* this is half the height of your div*/  
  margin-left:-175px; /*this is half of width of your div*/
  background-color: #ccc;
  border: #000;
  padding: 20px;
}

.index-circle {
    background: none repeat scroll 0 0 #c1c1c1;
    border: 5px solid #000;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 40px;
    font-size: 1.5em;
    font-weight: bold;
    margin-right: 10px;
}
.index-links {
    line-height: 30px;
    font-size: 1.1em;
}
.index-ago {
    line-height: 30px;
    font-size: 1em;
}