{% extends "base.html.twig" %}
{% block body %}
    <div class="row">
        <div class="col-md-12">
            {% if search is defined %}
                <div class="row">
                    <h1>Search results for "{{ search|capitalize }}"</h1>
                </div>
            {% endif %}
            <div class="row">
                <div class="pull-left"><h3>Found results: {{ total }}</h3></div>
            </div>
            <div class="row">
                {{ include('GlasgowNotesBundle:Search:pagination.html.twig') }}
            </div>

            <div class="row">
                <div class="col-sm-12">
                    {% for note in notes %}
                        <div class="row">
                            <div class="col-sm-8">
                                <div class="index-links">
                                    <p>#{{ note.id }} - 

                                        <a href="{{ path('glasgow_notes_view_note', {'id' : note.id}) }}" 
                                           title="{{ note.title }}"> {{ note.title|capitalize }}</a> 

                                    </p>
                                </div>
                            </div>
                            <div class="col-sm-2">Author: <A href="{{ path('glasgow_notes_profile', {'name' : note.user}) }}" title="">{{ note.user|capitalize }}</a></div>
                            <div class="col-sm-2">
                                <div class="index-ago">{{ note.createdAt|date("Y-m-d") }}</div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class="row">
                <nav>
                    {{ include('GlasgowNotesBundle:Search:pagination.html.twig') }}
                </nav>
            </div>
        </div>

    </div>
{% endblock %}