 {% if pages > 1%}
<nav>
    <ul class="pagination pagination-sm" style="margin-top: 5px; margin-bottom: 5px;">
        <li>
            {% if currentPage > 1 %}
                <a href="{{ path('glasgow_notes_browse', { 'page' : currentPage - 1 }) }}">&laquo;</a>
            {% endif %}
        </li>

        {% if pages < 20 %}
            {% for page in 1..pages %}
                <li class="{% if page == currentPage %}active{% else %}{% endif %}">
                    <a href="{{ path('glasgow_notes_browse', { 'page' : page }) }}">{{ page }}</a>
                </li>
            {% endfor %}
        {% else %}
            {% if currentPage - 10 < 1 %}
                {% for page in 1..20 %}
                    <li class="{% if page == currentPage %}active{% else %}{% endif %}">
                        <a href="{{ path('glasgow_notes_browse', { 'page' : page }) }}">{{ page }}</a>
                    </li>
                {% endfor %}
            {% elseif currentPage + 10 > pages %}
                {% for page in (pages-20)..pages %}
                    <li class="{% if page == currentPage %}active{% else %}{% endif %}">
                        <a href="{{ path('glasgow_notes_browse', { 'page' : page }) }}">{{ page }}</a>
                    </li>
                {% endfor %}
            {% else  %}
                {% for page in (currentPage-10)..(currentPage+10) %}
                    <li class="{% if page == currentPage %}active{% else %}{% endif %}">
                        <a href="{{ path('glasgow_notes_browse', { 'page' : page }) }}">{{ page }}</a>
                    </li>
                {% endfor %}
            {% endif %}

        {% endif %}
        {% if currentPage < pages %}
            <li><a href="{{ path('glasgow_notes_browse', { 'page' : currentPage + 1 }) }}">&raquo;</a></li>
            {% endif %}

    </ul>
</nav>
{% endif %}