{% extends "base.html.twig" %}
{% block body %}
    <h2>Edit note - {{ note.title }}</h2>
    {{ form_start(form) }}
    {{ form_errors(form) }}

    <div class="row">
        <div class="col-md-6">

            <div>
                {{ form_label(form.title) }}
                {{ form_errors(form.title) }}
                {{ form_widget(form.title) }}
            </div>

            <div>
                {{ form_label(form.abstract) }}
                {{ form_errors(form.abstract) }}
                {{ form_widget(form.abstract) }}
            </div>

        </div>
        <div class="col-md-6">  
            <div>
                {{ form_label(form.files) }}
                {{ form_errors(form.files) }}
                {{ form_widget(form.files) }}
            </div>
            <div>
                {{ form_label(form.noteRreferences) }}
                {{ form_errors(form.noteRreferences) }}
                {{ form_widget(form.noteRreferences) }}
            </div>

            <div>
                {{ form_label(form.authors) }}
                {{ form_errors(form.authors) }}
                {{ form_widget(form.authors) }}
            </div>

            <div>
                {{ form_label(form.keywords) }}
                {{ form_errors(form.keywords) }}
                {{ form_widget(form.keywords) }}
            </div>
        </div>
    </div>
    <div>
        {{ form_widget(form.save) }}
    </div>

    {{ form_end(form) }}
{% endblock %}