{% extends "base.html.twig" %}
{% block body %}
    <div class="row">
        <div class="col-md-8">
            <div class="row">
                <h1>#{{ note.id }} - {{ note.title|capitalize }}</h1>
                <p>Authors: <a href="{{ path('glasgow_notes_profile', {'name':note.user.username}) }}">{{ note.user.username|capitalize }}</a>
                    {% if note.authors|length > 1 %}, {{ note.authors|capitalize }}{% endif %}
                    - {{ note.createdAt|date("Y-m-d H:i") }}<br />

                </p>

                <h3>Abstract</h3>
                <p>{{ note.abstract|nl2br }}</p>


                {% if edit == 1 %}
                    <a href="{{ path('glasgow_notes_edit_note', {'id' : note.id }) }}" title="edit note" class="btn btn-success">Edit</a> 
                    <a href="{{ path('glasgow_notes_delete_note', {'id' : note.id }) }}" title="terminate note" class="btn btn-danger">Terminate</a> 
                {% endif %}
            </div>

        </div>
        <div class="col-md-4">
        
        	{% if keywords is not empty %}
                    <h4>Keywords:</h4>
                    <p>
                        {% for keyword in keywords %}
                            <a href="{{ path('glasgow_notes_search') }}?search={{ keyword }}" title="search for {{ keyword }}">{{ keyword }}</a>
                            {% if loop.last == false %}, {% endif%}
                        {% endfor %}
                    </p>
                {% endif%}

                {% if relNote is not empty %}
                
                    <h3>Related notes:</h3> 
                    <table class="table table-bordered">
                    {% for rel in relNote %}
                    	<tr><td>{{ loop.index }}</td><td><a href="{{ path('glasgow_notes_view_note', {'id' : rel.id}) }}" title="Click to view">{{ rel.title }} (#{{ rel.id }})</a></td></tr>
                    {% endfor %}
                    </table>
                {% endif%}

            {% if attachments is not empty %}
                <h3>Files:</h3>
                {% for attachment in attachments %}
                    {{ loop.index }}. <a href="/web/uploads/documents/{{ attachment.attachment }}" title="click to view">{{ attachment.attachment }}</a>
                    {% if edit == 1 %}  <a href="{{ path('glasgow_notes_remove_file', {id:attachment.id }) }}" class="btn btn-danger btn-sm">remove</a> {% endif%}<br />
                {% endfor %}
            {% endif%}


        </div>

    </div>
{% endblock %}