{% extends "base.html.twig" %}
{% block googleCharts %}
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
        google.load("visualization", "1", {packages: ["corechart"]});
        google.setOnLoadCallback(drawChart);
        function drawChart() {
            var data = google.visualization.arrayToDataTable([
                ['{{ type }}', 'Notes'],{% for key,value in stats %}
                ['{{ key }}', {{ value }}],{% endfor %}
            ]);
            var options = {
                title: 'All users activity for this year',
                hAxis: {title: '{{ type }}', titleTextStyle: {color: '#333'}},
                vAxis: {minValue: 0}
            };

            var chart = new google.visualization.AreaChart(document.getElementById('chart_div'));
            chart.draw(data, options);
        }
    </script>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-2">
            <h1>Statistics</h1>
            <form action="{{ path('glasgow_notes_statistics') }}" method="post" role="statistics" name="statistics">
                <div class="form-group">
                    <label for="user">User</label>
                    <select name="user" class="form-control">
                        <option value="all">---All--</option>
                        {% for user in usersList %}
                            <option value="{{ user.id }}"{% if selectUser == user.id %} selected{% endif %}>{{ user.username|capitalize }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="startDate">Start Date</label>
                    <input type="date" name="startDate" class="form-control" value="{{ selectStartDate }}" />
                </div>
                <div class="form-group">
                    <label for="endDate">End Date</label>
                    <input type="date" name="endDate" class="form-control" value="{{ selectEndDate }}" />
                </div>
                <div class="form-group">
                    <input type="submit" name="displayStats" value="Display Stats" class="btn btn-sm btn-success" />
                </div>
            </form>

            <br />
            <p>Max clique:
                {% for author in maxClique %}
                    {{ author }},
                {% endfor %}   
            </p>

        </div>
        <div class="col-md-10">
            <div id="chart_div" style="width: 100%; height: 500px;"></div>
        </div>

    </div>
{% endblock %}